<mat-nav-list>
  <mat-list-item *ngFor="let link of links">
    <ng-container *ngIf="isAuth && (link === 'logout' || link === 'training')">
      <mat-icon>{{returnIcon(link)}}</mat-icon>
      <a matListItem matLine  (click)="onToggleSideNav(link)">{{ link }}</a>
    </ng-container>
    <ng-container *ngIf="!isAuth && (link === 'login' || link === 'signup')">
      <mat-icon>{{returnIcon(link)}}</mat-icon>
      <a matListItem matLine  (click)="onToggleSideNav(link)">{{ link }}</a>
    </ng-container>
  </mat-list-item>
</mat-nav-list>
