<section>
  <form action="" fxLayout="column" fxLayoutAlign="center center" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field appearance="outline">
      <mat-label>Enter E-Mail</mat-label>
      <input #emInput="ngModel" type="email" matInput placeholder="Your Email" autocomplete="false"  ngModel name="email" email required >
      <mat-error *ngIf="emInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error *ngIf="!emInput.hasError('required')">E-mail is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at-least 6 characters long" appearance="outline">
      <mat-label>Enter Password</mat-label>
      <input #pwInput="ngModel" type="password" matInput placeholder="Your Password" autocomplete="false" ngModel name="password" required minlength="6">
      <mat-hint align="end">{{pwInput?.value?.length || 0}} / 6</mat-hint>
      <mat-error>Has to be 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
